/* FOOTER */

/* logo */

.footerLogo{
    font-family: var(--logo-font);
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* general */

footer{
    padding: 0 1rem;
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--footer-color);
    text-align: center;
    font-family: var(--main-font);
}


/* contact */

.aboutUs {
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.socials a img {
    width: 32px;
    height: 32px;
}

.aboutUs a, .socials a {
    color: white;
    text-decoration: none;
}
.aboutUs a{
    display: flex;
    flex-wrap: nowrap;
}

.aboutUs, .socials {
    margin: 2rem 0 2rem 0;
} 

.language{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}
.chosenLangauage{
    border-bottom: 2px solid var(--light-font-color);
}