/* FOOTER */

/* logo */

.footerLogo{
    font-family: var(--logo-font);
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* general */

footer{
    padding: 0 2rem;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--footer-color);
    margin-bottom: 100px;
    text-align: center;
    font-family: var(--main-font);
}


/* contact */

.aboutUs {
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    justify-content:space-evenly;
    gap: 5rem;
}

.socials a img {
    width: 32px;
    height: 32px;
}

.aboutUs a, .socials a {
    color: white;
    justify-content: space-between;
}

.aboutUs, .socials {
    margin: 2rem 0 2rem 0;
} 

@media screen and (min-width: 800px) {
    nav{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .aboutUs, .socials {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; 
        width: 35%;
    } 
    .aboutUs a{
        display: flex;
        justify-content: space-between;
    }
    footer{
        height: 30vh;
    }
}
