/* FOOTER */

footer{
    padding: 0 2rem;
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--footer-color);
    margin-bottom: 100px;
    text-align: center;
    font-family: var(--main-font);
}

.aboutUs {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.socials{
    display: flex;
    justify-content:space-evenly;
    gap: 5rem;
}

.socials a img {
    width: 2rem;
    height: 2rem;
}

.aboutUs a, .socials a {
    font-weight: 400;
    font-size: 1rem;
    color: white;
    justify-content: space-between;
}

.aboutUs, .socials {
    margin: 2rem 0 2rem 0;
} 

.logo{
    padding: 2rem 0;
}

