/* Typography */

@media screen and (min-width: 800px) {
    p {
        font-size: 18px;
    }

    h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 800px) {
    #categoriesHeading {
        display: none;
    }
    .productPictures {
        gap: 1rem;
        margin: 1.5rem 0;
    }
    .productPictures div {
        width: calc(50% - 0.5rem);
        aspect-ratio: 632/412;
    }
}

/* material info */

@media screen and (min-width: 800px) {
    .materialInfo{
        display: none;
    }
}

/* configurator */

@media screen and (min-width: 600px) {

    #productTypeSelection {
        background-color: var(--dark-container-color);
        padding: 0;
    }   
    #config {
        display: flex;
    }
    #colors {
        flex-direction: column;
        align-self: flex-start;
        margin-top: 1rem;
        order: 1;
    }
    .variantHolder {
        order: 2;
        margin: 0 7vw;
    }
    .pockets {
        margin: 2rem 1rem 0 1rem;
        order: 3;
    }
    .colorButton {
        height: 5rem;
        width: 6.5rem;
    }
}

@media  screen and (max-width: 420px){
   
    .modelButton {
        height: 3.5rem;
        width: 5.3rem;
    }
    .colorButton {
        height: 4rem;
        width: 5.2rem;
        margin: 0.6rem;
    }
    #productVariant {
        height: 14rem;
        width: 12rem;
    }
    #productInfo {
        width: 12rem;
    }
};
    
/* human image */

@media screen and (min-width: 800px) {
    .fullScreenImage {
        height: 100vh;
        aspect-ratio: 1;
    }
}

/* footer video */

@media screen and (min-width: 800px) {
    .lastVideo {
        height: 75vh;
    }
}

/* marquee */

@media screen and (min-width: 800px) {
    .marquee-text-track {
        animation: marquee-movie-text 30s linear infinite;
    }
    .marquee-text-track p {
        margin: 0 10rem 0 2rem;      
    }
    @keyframes marquee-movie-text {
        to {
            transform: translate(-25%);
        }
    }
}


/* footer */

@media screen and (min-width: 800px) {
    footer nav{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .aboutUs, .socials {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; 
        width: 35%;
    } 
    .aboutUs a{
        display: flex;
        justify-content: space-between;
    }
    footer{
        height: 30vh;
        padding-bottom: 2rem;
    }
}
/* Header-Navigationbar and Input */

@media  screen and (min-width: 600px){
    .navigationBar {
        display: none;
    }
    .dividedSection{
        display: flex;
        flex-direction: row-reverse;
    }
    .inputContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 7rem;
    }
    .inputMessage b{
        display: flex;
        justify-self: center;
    }
    .inputMessage p{
        display: flex;
        justify-self: center;
    }
    .lastVideo{
        width: 50%;
    }
    .Nyhetsform input {
        width: 100%;
    }
    .customizeContainer{
        align-items: center;
    }
    .customizeContainer input{
        width: 40%;
    }
}
@media  screen and (max-width: 720px){
    .desktopNavbar {
        display: none;
    }
}