/* Typography */

@media screen and (min-width: 800px) {
    p {
        font-size: 18px;
    }

    h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 800px) {
    #categoriesHeading {
        display: none;
    }
    .productPictures {
        gap: 1rem;
        margin: 1.5rem 0;
    }
    .productPictures div {
        width: calc(50% - 0.5rem);
        aspect-ratio: 632/412;
}
    
}

/* configurator */

@media screen and (min-width: 600px) {

    #productTypeSelection {
        background-color: var(--dark-container-color);
    }   
    #config {
        display: flex;
    }
    #colors {
        flex-direction: column;
        align-self: flex-start;
        margin-top: 1rem;
        order: 1;
    }
    .variantHolder {
        order: 2;
        margin: 0 7vw;
    }
    .pockets {
        margin: 2rem 1rem 0 1rem;
        order: 3;
    }
    .colorButton {
        height: 5rem;
        width: 6.5rem;
    }
}

/* human image */

@media screen and (min-width: 800px) {
    .fullScreenImage {
        height: 100vh;
        aspect-ratio: 1;
    }
}

/* footer video */

@media screen and (min-width: 800px) {
    @keyframes marquee-movie-text {
    to {
        transform: translate(-50%);
    }
}
}

/* marquee */

@media screen and (min-width: 800px) {
    .marquee-text-track {
        animation: marquee-movie-text 50s linear infinite;
    }
    .marquee-wrapper-header {
        margin-top: 1rem;
    }
    .marquee-text-track p {
        margin: 0 2rem 0 2rem;      
    }
    @keyframes marquee-movie-text {
    to {
        transform: translate(-50%);
    }
}
}


/* footer */

@media screen and (min-width: 800px) {
    footer nav{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .aboutUs, .socials {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; 
        width: 35%;
    } 
    .aboutUs a{
        display: flex;
        justify-content: space-between;
    }
    footer{
        height: 30vh;
        padding-bottom: 2rem;
    }
}