/* ROOT */

:root {
    font-family: Arial, Helvetica, sans-serif;
    --footer-color: rgb(0, 0, 0);
}


/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

header {
    width: 100vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: rgba(234, 234, 234, 0.5);
}

.banner button {
    border: none;
    background: none;
}

main {
    width: 100vw;
}

.navigationBar {
    width: 95%;
    height: 48px;
    left: 2.5%;
    right: 2.5%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 1rem;
   
}

.hero {
    width: 100vw;
    height: 80vh;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    width: 100vw;
    padding: 10px;
    display: flex;
    gap: 9.5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel div {
    background-color: grey;
    height: 108px;
    width: 87px;
}

.pocketsCarousel {
    width: 100vw;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.pocketsCarousel div {
    background-color: grey;
    height: 80px;
    width: 80px;
    flex: 0 0 20%;
}

.textField {
    text-align: center;
}

.middleVideo {
    width: 100vw;
    height: 80vh;
}

.middleVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productPictures {
    width: 100vw;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.productPictures div {
    background-color: grey;
    width: calc(50% - 0.25rem);
    aspect-ratio: 185/272;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.productPictures div span {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-family: var(--secondary-font);
    font-size: 0.75rem;
}

.fullScreenImage {
    width: 100vw;
    aspect-ratio: 1/2;
}

.backpackersImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lastVideo {
    width: 100vw;
    aspect-ratio: 1;
}

.bonfireVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85%;
}