/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap');

:root {
    --main-font: "IBM Plex Sans", sans-serif;
    --logo-font: "Orbitron", sans-serif;

    --footer-color: rgb(0, 0, 0);
    --dark-font-color: rgb(0, 0, 0);
    --light-font-color: rgb(255, 255, 255);
    --background-color: rgb(250, 250, 250);
    --dark-background-color: rgb(0, 0, 0);
    --light-container-color: rgba(217, 217, 217, 0.2);
    --dark-container-color: rgba(217, 217, 217, 0.7);
}

/* GENERAL */

* {
    font-family: var(--main-font);
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

header {
    width: 100%;  
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

#siteTitle {
    font-family: var(--logo-font);
    font-size: 2.5rem;
    color: var(--light-font-color);
    font-weight: 300;
    margin-top: 1rem;
}

#headerText {
    font-family: var(--main-font);
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--light-font-color);
}

main {
    width: 100%;
}

/* Typography */

p {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}

.logo {
    font-size: 2.5rem;
    font-family: var(--logo-font);
}

h1 {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 700;
}

/* navigation bar */
.navigationBar {
    width: 96%;
    height: 3rem;
    left: 2%;
    right: 2%;
    bottom: 2rem;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 1rem;
}

/* hero */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pauseButton {
    background: none;
    border: none;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    height: 2rem;
    width: 2rem;
}

#button1 {
    bottom: 5.5rem;
}

.pauseButton.playing {
    background-image: url('icons/play.png');
    background-size: contain;
}

.pauseButton.playing img {
    display: none;
}

/* categories */
#categoriesHeading {
    text-align: center;
    padding: 1.5rem;
}

.catigoryContainer{
    margin: 0.2rem 0;
}

.productPictures {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.productPictures div {
    background-color: grey;
    width: calc(50% - 0.25rem);
    aspect-ratio: 185/272;
    position: relative;
}

.productPictures div h3 {
    font-family: var(--main-font);
    font-size: 1.125rem;
    margin-left: 1.125rem;
    margin-top: 0.5625rem;
    position: absolute;
    z-index: 1;
}

.productPictures img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

/* material info */

.materialInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-background-color);
    color: var(--light-font-color);
    padding: 2.5rem;
    gap: 5px;
}

/* material video */
.materialVideo {
    width: 100%;
    height: 80vh;
    position: relative;
}

.materialVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* configurator */

.configurator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productTypeSelection {
    width: 100%;
    text-align: center;
    background-color: var(--light-container-color);
    padding: 0.5rem;
}

#dinStilHeading {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

.configurator p {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 500;
}

#productsToConfigurate {
    display: flex;
    justify-content: center;
}

#productsToConfigurate div {
    height: 5.5rem;
    width: 5.5rem;
    margin: 0.57rem 1.1875rem;
}

#config {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#bagImage {
    border-bottom: 2px solid var(--dark-font-color);
}

#productsToConfigurate h4 {
    font-family: var(--main-font);
    font-size: 0.75rem;
    font-weight: 400;
}

.variantHolder {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#productVariant {
    height: 19.719rem;
    width: 16.33868625rem;
}

.pockets {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 6.0625rem;
}

.pockets div {
    height: 4rem;
    width: 6.0625rem;
}

.modelButton.active {
    border-bottom: 2px solid var(--dark-font-color);
}

.pockets div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#productInfo {
    width: 16.33868625rem;
    font-size: 1.1rem;
    font-weight: 400;
}

#colors {
    display: flex;
    justify-content: center;
}

.colorButton {
    width: 5.5rem;
    height: 4rem;
    border-style: none;
    margin: 1rem;
}

.colorButton.active {
    border-bottom: 2px solid var(--dark-font-color);
}

#redButton {
    background-color: red;
}

#blueButton {
    background-color: blue;
}

#greenButton {
    background-color: green;
}

#greyButton {
    background-color: grey;
}

/* human image */
.fullScreenImage {
    width: 100%;
    height: 100vh;
    aspect-ratio: 1/2;
}

.backpackersImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* marquee text */

.fullScreenImage-marquee-container {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

.marquee-wrapper-header,
.marquee-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    background-color: var(--dark-container-color);
    width: 100%;
    height: 40px;
    padding: 0 0.5rem; 
}

.marquee-wrapper {
    bottom: 0;
}

.marquee-text {
    flex: 1; 
    overflow: hidden; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-text-track {
    display: inline-flex;    
    white-space: nowrap;     
    animation: marquee-move 40s linear infinite;
}

.marquee-text-track p {
    display: inline-block;
    margin: 0 15rem 0 2rem;      
    font-size: 0.75rem;
    font-weight: 400; 
}

@keyframes marquee-move {
    to {
        transform: translateX(-50%);  
    }
}

.marquee-pauseButton,
.marquee-close-button {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 0.5rem;
}

.marquee-pauseButton {
    background-image: url("icons/dark-pause.png");
}

.marquee-pauseButton.paused {
    background-image: url("icons/dark-play.jpg");
}

.marquee-close-button {
    background-image: url("icons/x-icon.png");
}


/* footer video */
.lastVideo {
    width: 100%;
    height: 60vh;
    aspect-ratio: 1;
    position: relative;
}

#turntable {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85%;
}

/* newsletter */
.inputMessage {
    margin: 1rem;
}

.Nyhetsform {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.Nyhetsform input {
    width: 100%;
    border: 0;
    border-bottom: solid black 2px;
}
.Nyhetsbutton {
    border: 0;
    background-color: black;
    color: white;
    width: 10rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-weight: 700;
}
.Nyhetsbutton:hover {
    background-color: rgba(0, 0, 0, 0.866);
}
.customizeContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.customizeContainer b {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.customizeContainer input {
    margin: 1rem;
    margin-top: 0;
    width: 90%;
    border: 0;
    border-bottom: solid black 2px;
}
.Sparabutton {
    display: flex;
    border: 0;
    background-color: black;
    color: white;
    font-weight: 700;
    width: 10rem;
    margin: 1rem;
    padding: 0.5rem;
    align-self: center;
    justify-content: center;
}
.desktopNavbar{
    display: flex;
    background-color: var(--dark-container-color);
    position: sticky;
    align-items: center;
    justify-content: space-evenly;
}
.desktopNavbarContainer{
    display: flex;
    justify-content: space-between;
    width: 50rem;

}
.desktopNavbarContainer p{
    margin: 1rem;

}
.naviconContainer{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
}
.naviconContainer img{
    margin-left: 2rem;
}
