/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --main-font: "IBM Plex Sans", sans-serif; 
    --logo-font: "Orbitron", sans-serif;
    --secondary-font: "Playfair Display", serif;
    --running-text: "Sansation", sans-serif;

    --footer-color: rgb(0, 0, 0);
    --dark-font-color: rgb(0, 0, 0);
    --light-font-color: rgb(255, 255, 255);
    --background-color: rgb(250, 250, 250);
    --container-color:  #D9D9D9B2;
}


/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

header {
    width: 100vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


main {
    width: 100vw;
}

/* navigation bar */
.navigationBar {
    width: 95%;
    height: 48px;
    left: 2.5%;
    right: 2.5%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 1rem;
   
}

/* hero */
.hero {
    width: 100vw;
    height: 80vh;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* categories */
.productPictures {
    width: 100vw;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.productPictures div {
    background-color: grey;
    width: calc(50% - 0.25rem);
    aspect-ratio: 185/272;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.productPictures div span {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-family: var(--secondary-font);
    font-size: 0.75rem;
}

.materialInfo {
    text-align: center;
}

/* material video */
.materialVideo {
    width: 100vw;
    height: 80vh;
}

.materialVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* configurator */
/* .configurator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#variantAndColorSelector {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.variantHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productVariant {
    height: 25vh;
}

#colors {
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

#colors button {
    width: 7rem;
    height: 5rem;
    margin: .5rem;
    border-style: none;
}

#redButton {
    background-color: red;
}

#blueButton {
    background-color: blue;
}

#greenButton {
    background-color: green;
}
#greyButton {
    background-color: grey;
}

.pocketsCarousel {
    width: 100vw;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.pocketsCarousel div {
    background-color: grey;
    height: 7.5rem;
    width: 7.5rem;
    flex: 0 0 30%;
}

.pocketsCarousel div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* human image */
.fullScreenImage {
    width: 100vw;
    aspect-ratio: 1/2;
}

.backpackersImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer video */
.lastVideo {
    width: 100vw;
    aspect-ratio: 1;
}

.bonfireVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85%;
}

/* marquee text */

.marquee-wrapper{
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    margin: 1rem auto;
    background-color: rgba(234, 234, 234, 0.5);
    width: 100vw;
    height: 42px;
}

.marquee-text{
    overflow: clip;
    width: 84vw;
    margin: 0 auto;
    padding: 6px;
    font-family: var(--running-text);
}

.marquee-text-track{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 60vw;
    gap: 60vw;
    width: max-content;
    animation: marquee-movie-text 10s linear infinite;
    text-wrap: nowrap;
}

.marquee-close-button {
    right: 0.5rem;
    font-size: large;
    padding-left: 4px;
}

.marquee-icon {
    left: 1rem;
}

.marquee-icon, .marquee-close-button {
    position: absolute;
    margin: 0 0.5rem;
    margin-left: auto;
    border: none;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.1rem;
}

@keyframes marquee-movie-text {
    to {
        transform: translate(-50%);
    }
}



