/* ROOT */

:root {
    font-family: Arial, Helvetica, sans-serif;
    --footer-color: rgb(0, 0, 0);
}


/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner {
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: rgba(234, 234, 234, 0.5);
}

.banner button {
    border: none;
    background: none;
}

main {
    width: 100vw;
}

.navigationBar {
    width: 95%;
    height: 48px;
    left: 2.5%;
    right: 2.5%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hero {
    width: 100vw;
    height: 80vh;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    width: 100vw;
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel div {
    background-color: beige;
    height: 300px;
    width: 200px;
    flex: 0 0 47%;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--footer-color);
    margin-bottom: 100px;
}

.aboutUs {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
}

.socials{
    display: flex;
    justify-content:space-evenly;
}

.aboutUs a, .socials a {
    text-decoration: none;
    color: white;
    justify-content: center;
}