/* ROOT */

/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner {
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: rgba(234, 234, 234, 0.5);
}

.banner button {
    border: none;
    background: none;
}

main {
    width: 100vw;
}

.navigationBar {
    width: 95%;
    height: 48px;
    left: 2.5%;
    right: 2.5%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hero {
    width: 100vw;
    height: 80vh;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    width: 100vw;
    padding: 10px;
    display: flex;
    gap: 9.5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel div {
    background-color: grey;
    height: 108px;
    width: 87px;
}

.pocketsCarousel {
    width: 100vw;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.pocketsCarousel div {
    background-color: grey;
    height: 80px;
    width: 80px;
    flex: 0 0 20%;
}

.textField {
    text-align: center;
}

.middleVideo {
    width: 100vw;
    height: 80vh;
}

.middleVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productPictures {
    width: 100vw;
    margin: 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.productPictures div {
    background-color: grey;
    width: calc(50% - 8px);
    aspect-ratio: 185/272;
}

.fullScreenImage {
    width: 100vw;
    aspect-ratio: 1/2;
}

.backpackersImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lastVideo {
    width: 100vw;
    height: 80vh;
}

.bonfireVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}