/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --main-font: "IBM Plex Sans", sans-serif; 
    --logo-font: "Orbitron", sans-serif;
    --secondary-font: "Playfair Display", serif;
    --running-text: "Sansation", sans-serif;

    --footer-color: rgb(0, 0, 0);
    --dark-font-color: rgb(0, 0, 0);
    --light-font-color: rgb(255, 255, 255);
    --background-color: rgb(250, 250, 250);
    --container-color:  #D9D9D9B2;
}


/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


main {
    width: 100vw;
}

.navigationBar {
    width: 95%;
    height: 48px;
    left: 2.5%;
    right: 2.5%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 1rem;
   
}

.hero {
    width: 100vw;
    height: 80vh;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    width: 100vw;
    padding: 10px;
    display: flex;
    gap: 9.5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel div {
    background-color: grey;
    height: 108px;
    width: 87px;
}

.pocketsCarousel {
    width: 100vw;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.pocketsCarousel div {
    background-color: grey;
    height: 80px;
    width: 80px;
    flex: 0 0 20%;
}

.textField {
    text-align: center;
}

.middleVideo {
    width: 100vw;
    height: 80vh;
}

.middleVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productPictures {
    width: 100vw;
    margin: 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.productPictures div {
    background-color: grey;
    width: calc(50% - 8px);
    aspect-ratio: 185/272;
}

.fullScreenImage {
    width: 100vw;
    aspect-ratio: 1/2;
}

.backpackersImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lastVideo {
    width: 100vw;
    aspect-ratio: 1;
}

.bonfireVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85%;
}

/* marquee text */

.marquee-wrapper{
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    margin: 1rem auto;
    background-color: rgba(234, 234, 234, 0.5);
    width: 100vw;
    height: 42px;
}

.marquee-text{
    overflow: clip;
    width: 84vw;
    margin: 0 auto;
    padding: 6px;
    font-family: var(--running-text);
}

.marquee-text-track{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 60vw;
    gap: 60vw;
    width: max-content;
    animation: marquee-movie-text 10s linear infinite;
    text-wrap: nowrap;
}

.marquee-close-button {
    right: 0.5rem;
    font-size: large;
    padding-left: 4px;
}

.marquee-icon {
    left: 1rem;
}

.marquee-icon, .marquee-close-button {
    position: absolute;
    margin: 0 0.5rem;
    margin-left: auto;
    border: none;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.1rem;
}

@keyframes marquee-movie-text {
    to {
        transform: translate(-50%);
    }
}



